@media (min-width: 992px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="22dfe9b3-75cf-698e-dc7a-6bc2b3723a61"] {
        width: 100%;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="86218919-4662-309f-b263-8a7534869b8a"] {
        width: 100%;
        -webkit-transform: translate3d(8%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(8%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(8%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(8%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="0822006c-364b-ff71-7102-f629c8b2c373"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="34433cd0-06ea-1cef-c206-e65920d9b55f"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a088f488-e35d-5301-d97b-a011c5602540"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="cf3c6155-b7f5-3b06-0b72-63822514a1e6"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="84ff30f1-1080-cdbf-a365-14dc8e638d38"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d0dcbe2d-923b-dc9c-63a6-d0b1c29595c5"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }
}

@media (max-width: 991px) and (min-width:768px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="22dfe9b3-75cf-698e-dc7a-6bc2b3723a61"] {
        width: 100%;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="86218919-4662-309f-b263-8a7534869b8a"] {
        width: 100%;
        -webkit-transform: translate3d(8%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(8%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(8%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(8%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="0822006c-364b-ff71-7102-f629c8b2c373"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="34433cd0-06ea-1cef-c206-e65920d9b55f"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a088f488-e35d-5301-d97b-a011c5602540"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="cf3c6155-b7f5-3b06-0b72-63822514a1e6"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="84ff30f1-1080-cdbf-a365-14dc8e638d38"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d0dcbe2d-923b-dc9c-63a6-d0b1c29595c5"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }
}

@media (max-width: 767px) and (min-width:480px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="22dfe9b3-75cf-698e-dc7a-6bc2b3723a61"] {
        width: 100%;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="86218919-4662-309f-b263-8a7534869b8a"] {
        width: 100%;
        height: 100%;
        -webkit-transform: translate3d(null, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(null, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(null, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(null, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="0822006c-364b-ff71-7102-f629c8b2c373"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="34433cd0-06ea-1cef-c206-e65920d9b55f"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a088f488-e35d-5301-d97b-a011c5602540"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="cf3c6155-b7f5-3b06-0b72-63822514a1e6"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="84ff30f1-1080-cdbf-a365-14dc8e638d38"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d0dcbe2d-923b-dc9c-63a6-d0b1c29595c5"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }
}

@media (max-width: 479px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="22dfe9b3-75cf-698e-dc7a-6bc2b3723a61"] {
        width: 100%;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="86218919-4662-309f-b263-8a7534869b8a"] {
        width: 100%;
        height: 100%;
        -webkit-transform: translate3d(null, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(null, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(null, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(null, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="0822006c-364b-ff71-7102-f629c8b2c373"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="34433cd0-06ea-1cef-c206-e65920d9b55f"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a088f488-e35d-5301-d97b-a011c5602540"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="cf3c6155-b7f5-3b06-0b72-63822514a1e6"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="84ff30f1-1080-cdbf-a365-14dc8e638d38"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d0dcbe2d-923b-dc9c-63a6-d0b1c29595c5"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }